
export(bo_calibrate)
export(fit_surrogates)
export(acq_eci)
export(welford_mean_var)
export(pool_welford_results)
export(sa_sobol)
export(sa_gradients)
export(cov_effects)
export(benchmark_methods)
export(summarise_benchmark)
export(plot_benchmark_trajectory)
export(plot_benchmark_efficiency)
export(estimate_constraint_reliability)
export(plot_constraint_reliability)
export(ablation_multifidelity)
export(plot_multifidelity_tradeoff)
export(sensitivity_diagnostics)
export(plot_sobol_indices)
export(plot_gradient_heatmap)
export(plot_kernel_comparison)
export(plot_acquisition_comparison)
export(summarise_case_study)
export(case_study_diagnostics)
export(plot_feasible_frontier)
export(plot_tradeoff_surfaces)
export(plot_case_sobol)
export(plot_case_gradient)
export(plot_case_covariance)
export(save_bo_state)
export(load_bo_state)
export(refine_bounds)
export(fix_parameters)
export(remove_fixed_from_bounds)
export(sequential_refinement)
export(should_skip_stage)
export(narrow_bounds_conservative)
export(check_convergence)
export(filter_history_for_constraints)
export(check_init_sufficiency)
export(init_stopping_config)
export(plot_init_convergence)
